<?xml version="1.0" encoding="UTF-8"?>
<!-- 推荐使用logback日志框架 configuration debug 是否打印logbak的状态 scan 定时刷新，默认1分钟 scanPeriod 
	定时刷新时间，单位 milliseconds、seconds、minutes 和 hours。 -->
<configuration debug="false" scan="true" scanPeriod="60 seconds">
	<property name="CHARSET" value="utf-8" /><!-- 字符集 -->
	<property name="LOG_HOME" value="log" /><!-- log目录 -->
	<property name="BACKUP" value="${LOG_HOME}/%d{yyyy-MM-dd}" /><!-- 
		日志备份目录 -->
	<!-- 日志输出格式 类路径c 行号l 方法名m 尽量避免使用 -->
	<!-- 日志输出格式, %c{0} 表示打印logger名，若logger名是一个类路径，则打印最后一个.右边的部分 -->
	<property name="PATTERN_DEF"
		value="[%d{yyyy-MM-dd HH:mm:ss SSS}] [%-5p] [%c{-10}] - %m%n" />

	<!-- 控制台输出 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- 这里不需要配置字符集，根据系统默认即可 <charset>${CHARSET}</charset> -->
			<pattern>${PATTERN_DEF}</pattern>
		</encoder>
		<target>System.out</target><!-- System.out|System.err -->
	</appender>

	<!-- 全局日志 -->
	<appender name="log"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/log.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${BACKUP}/log%d{yyyy-MM-dd}-%i.log.zip
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>64MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<charset>${CHARSET}</charset>
			<pattern>${PATTERN_DEF}</pattern>
		</encoder>
	</appender>

	<appender name="exception"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/exception.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch> <!-- 用于配置符合过滤条件的操 NEUTRAL中立 ACCEPT接受 DENY否定 -->
			<onMismatch>DENY</onMismatch> <!-- 用于配置符合过滤条件的操 -->
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${BACKUP}/exception%d{yyyy-MM-dd}-%i.log.zip
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>64MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<charset>${CHARSET}</charset>
			<pattern>${PATTERN_DEF}</pattern>
		</encoder>
	</appender>
	

	<logger name="log" level="debug" additivity="true">
		<appender-ref ref="log" />
	</logger>

	<logger name="exception" level="ERROR" additivity="false">
		<appender-ref ref="exception" />
	</logger>

	<!-- 启用appender，不配置的appender默认不生效 -->
	<root level="debug">
		<appender-ref ref="stdout" />
		<appender-ref ref="log" />
		<appender-ref ref="exception" />
	</root>
</configuration>